/**
  字体
*/
/**
  颜色
*/
* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 1280px;
  background-color: #effaff;
  /*text-align: center;*/
}
/*头部布局*/
div#header {
  position: relative;
  min-width: 1280px;
  width: 100%;
  height: 100px;
  background-color: #1ba2e8;
}
div#header > div#header-context {
  margin: auto;
  width: 1280px;
  height: 100%;
}
div#header > div#header-context > div#header-icon {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
div#header > div#header-context > div#header-icon img {
  width: 100%;
  height: 100%;
}
div#header > div#header-context > div#btn-list {
  position: absolute;
  height: 44px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: orange;*/
  overflow: hidden;
}
div#header > div#header-context > div#btn-list > ul {
  width: 100%;
  height: 100%;
}
div#header > div#header-context > div#btn-list > ul > li {
  margin: 0 10px;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 44px;
}
div#header > div#header-context > div#btn-list > ul > li a {
  color: white;
  text-decoration: none;
}
div#header > div#header-context > div#search-login {
  position: relative;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  float: right;
  text-align: right;
}
div#header > div#header-context > div#search-login p {
  position: relative;
  height: 30px;
  border: 1px solid white;
  border-radius: 15px;
  line-height: 30px;
  padding: 0 40px 0 10px;
}
div#header > div#header-context > div#search-login p img {
  position: absolute;
  left: 100%;
  top: 0;
  width: 20px;
  height: 20px;
  transform: translate(-30px, 5px);
  z-index: 2;
}
/*底部布局*/
div#footer {
  min-width: 1280px;
  width: 100%;
  height: 200px;
  background-color: #1ba2e8;
}
div#footer > div#footer-context {
  position: relative;
  margin: auto;
  width: 1280px;
  height: 100%;
  /*background-color: blue;*/
}
div#footer > div#footer-context p {
  color: white;
  font-size: 20px;
}
div#footer > div#footer-context > div#footer-about-info {
  position: relative;
  float: left;
  left: 15%;
  width: auto;
  height: 100%;
  /*background-color: orange;*/
  display: table;
}
div#footer > div#footer-context > div#footer-about-info > div {
  display: table-cell;
  vertical-align: middle;
  /*文本垂直居中*/
}
div#footer > div#footer-context > div#footer-about-info > div > p {
  /*div中多个元素高度不固定且要垂直居中：上层要table-cell，上上层要table*/
  text-align: left;
}
div#footer > div#footer-context > div#footer-about-info > div > p:not(:first-child) {
  font-size: 12px;
}
div#footer > div#footer-context > div#footer-icon {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
div#footer > div#footer-context > div#footer-icon > img {
  width: 100%;
  height: 100%;
}
div#footer > div#footer-context > div#footer-code-icon {
  width: auto;
  height: 100%;
  position: relative;
  float: right;
  right: 15%;
  /*background-color: red;*/
  display: table;
}
div#footer > div#footer-context > div#footer-code-icon > div {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  height: 100%;
  /*background-color: gold;*/
}
div#footer > div#footer-context > div#footer-code-icon > div > img {
  width: 100px;
  height: 100px;
}
/*整体样式*/
.text-style {
  font-size: 18px;
  font-weight: 900;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.clicked-style {
  color: #1ba2e8;
}
